/*!
	Author: Shane Schroll
	Theme Name: Modular
	Description: Custom blocks.
	Version: 1.0.0
	Text Domain: mod
*/body a,body address,body li,body ol,body p,body small,body span,body table,body td,body time,body ul{font-family:"futura-pt",sans-serif;font-size:1rem;font-weight:400;font-variant-numeric:lining-nums;-webkit-font-feature-settings:"lnum" 1;font-feature-settings:"lnum" 1}body button{background:unset;border:unset}body button:hover{cursor:pointer}body .text-semibold{font-weight:500}body .text-bold{font-weight:bold}body .text-italic{font-style:italic}body .text-center{text-align:center}body h1,body h2,body h3,body h4,body h5,body h6{margin-top:1.5rem;margin-bottom:1rem;font-family:"roboto-slab",serif;font-weight:bold}body .accordion-container{max-width:70rem;margin:0 auto}body .accordion-container .accordion-block-title{display:block;position:relative;padding-top:0.5rem;padding-bottom:1rem;border-bottom:1px solid #ebebeb;color:#3e3e3e;font-weight:bold;font-family:"futura-pt",sans-serif;font-size:1.2rem}@media (min-width:768px){body .accordion-container .accordion-block-title{font-size:1.4375rem}}body .accordion-container .accordion-block-title:hover{cursor:pointer}body .accordion-container .accordion-block-title:after{content:'\f054';position:absolute;top:0.75rem;margin-left:0.5rem;font-size:0.9375rem;font-weight:bold;font-family:FontAwesome;-webkit-transition:0.3s ease-in;transition:0.3s ease-in}@media (min-width:768px){body .accordion-container .accordion-block-title:after{font-size:1.2rem}}body .accordion-container .remove-border{-webkit-transition:0.1s ease-in;transition:0.1s ease-in;border-bottom:1px solid transparent}body .accordion-container .chevron-rotate:after{-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:0.3s ease-in;transition:0.3s ease-in}
/*# sourceMappingURL=block-style.css.map */