* {
	box-sizing: border-box;
}

html {
	font-size: 16px; // 16px = 1rem
}

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	overflow-x: hidden;
}

// core site wrapper (core site content wrapper)
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// main content area
.content-block {
	max-width: 50rem;
	margin: 2rem auto;
	padding: 1rem 2.15rem;

	// default link
	p a {
		font-weight: bold;
		text-decoration: underline;
		text-underline-offset: 2px;
		color: $light-black;
		&:hover { color: darken($light-black, 10%); }
	}
}

// base image setup
img {
	display: block; // removes white space below image
	max-width: 100%;
	height: auto;
}

// sitewide placeholder for forms
::placeholder {
	color: $light-black;
	opacity: 0.6;
	font-style: italic;
	font-size: 15px;
}