// core font setup
a, p, span, address, table, td,
small, time, ol, ul, li {
	font-family: $font-body;
	font-size: 1rem;
	font-weight: 400;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox (>70)
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari (>63)
	font-feature-settings: "lnum" 1; // standard for browsers
}

// unset standard button styles
button {
	background: unset;
	border: unset;
	&:hover { cursor: pointer; }
}

// helper classes
.text-semibold { font-weight: 500; }
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }
.text-center { text-align: center; }

h1, h2, h3,
h4, h5, h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-family: $font-head;
	font-weight: bold;
}