// pull any block to the edges of the screen (outside the content block)
.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin: 3rem -50vw;
}

// Text meant only for screen readers (for <span>)
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}