// Base Colors
$black: #000;
$white: #fff;
$light-black: #3e3e3e;
$light-grey: #ebebeb;
$red: #83010d;

// Theme Colors

// Fonts
$font-head: 'roboto-slab', serif; // weights: 300, 400, 700
$font-body: 'futura-pt', sans-serif; // weights: 300, 400, 500, 700

// Breakpoint Mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}