// alert banner at top of page
.notice-banner {
	position: absolute;
	background-color: $light-black;
	padding: 1.25rem 2rem;
	max-width: 100%;
	z-index: 250;
	@include bp(850px) { position: relative; }

	.close-notice {
		color: $white;
		position: absolute;
		top: 3.5rem;
		right: 2.5rem;
		font-size: 2rem;
		font-weight: bold;
	}

	p {
		color: $white;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: bold;
		margin-right: 2rem;
	}
}