<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ options.google_search_description }}">
		<title>{{ post.title }} | {{ site.name }}</title>
		{{ function('wp_head') }}
		<link rel="stylesheet" href="https://use.typekit.net/yey7auc.css">
	</head>

	<body data-template="base.twig" class="{{ body_class }}">

		{% if options.enable_banner %}
			<div class="notice-banner">
				<button class="close-notice">&times;</button>
				<p>{{ options.banner_text }}</p>
			</div>
		{% endif %}

		{% include 'navigation.twig' %}

		<section class="main-post-wrapper" role="main">
			{% block content %}{% endblock %}
		</section>

		{% include 'footer.twig' %}
		{% include 'external-scripts.twig' %}
		{{ function('wp_footer') }}
	</body>
</html>